@font-face {
    font-family: "AvenirNext";
    font-weight: 400;
    font-style: normal;
    font-display: auto;
    src: url("https://static.hsappstatic.net/ui-fonts/static-1.223/fonts/AvenirNext-Regular.woff2") format("woff2"), url("https://static.hsappstatic.net/ui-fonts/static-1.223/fonts/AvenirNext-Regular.woff") format("woff");
}
@font-face {
    font-family: "AvenirNext";
    font-weight: 500;
    font-style: normal;
    font-display: auto;
    src: url("https://static.hsappstatic.net/ui-fonts/static-1.223/fonts/AvenirNext-Medium.woff2") format("woff2"), url("https://static.hsappstatic.net/ui-fonts/static-1.223/fonts/AvenirNext-Medium.woff") format("woff");
}
@font-face {
    font-family: "AvenirNext";
    font-weight: 600;
    font-style: normal;
    font-display: auto;
    src: url("https://static.hsappstatic.net/ui-fonts/static-1.223/fonts/AvenirNext-Demi.woff2") format("woff2"), url("https://static.hsappstatic.net/ui-fonts/static-1.223/fonts/AvenirNext-Demi.woff") format("woff");
}
@font-face {
    font-family: "AvenirNext";
    font-weight: 700;
    font-style: normal;
    font-display: auto;
    src: url("https://static.hsappstatic.net/ui-fonts/static-1.223/fonts/AvenirNext-Bold.woff2") format("woff2"), url("https://static.hsappstatic.net/ui-fonts/static-1.223/fonts/AvenirNext-Bold.woff") format("woff");
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{

  font-family: 'AvenirNext', sans-serif;
}

.container{
  margin: 0;
  padding: 0;
}

.top-header{
  background-color: #e3ebff;
  border-bottom: 1px solid #3f4461;
  margin:auto;
}

.top-header-container{
  padding:25px 25%;
}
.top-header-text{
  color:#3f4461;
  display: inline-block;
  word-spacing: 5px;
}
nav.top-navbar{
  padding:15px 25%;
}

.logo, .navbar, .navbar > li{
  display: inline-block;
}
img.logo{
  height:50px;
}

ul.navbar{
  float:right;
  line-height: 54px;
}

ul.top-head{
  float:right;

  transform: translateY(-25%);
}
ul.top-head > li{
  display: inline-block;
  padding:0 10px;
}

button.log-in{
  border-radius: 5px;
  border: 3px solid #ff5a30;
  padding:10px 14px;
    color: #ff5a30;
}

button.log-in:hover{
  background-color: #ff5a30;
  color:#fff;
  cursor:pointer;
}

button.gethubspotfree-head{
  border-radius: 5px;
  border: 3px solid #ff5a30;
  padding:10px 14px;
  color: white;
  background-color:#ff5a30;
}

button.gethubspotfree-head:hover{
  background-color: white;
  color:#ff5a30;
  cursor:pointer;
}
ul.navbar > li{
  padding: 0 10px;
  font-weight: bold;
}
ul.navbar > li > a{
  text-decoration: none;
}

.button-control{
  padding: 20px 45px;
  background-color:#ff5a30;
  color:#fff;
  border-radius: 6px;
  border: 1px solid #ff5a30;
}

.button-control:hover{
  background-color:#ba4223;
  cursor:pointer;
}

.announcement{

  background-color: #ffebeb;
  background-image: url("../img/announcement.png");
  background-size: auto;
  background-repeat: no-repeat;
  background-position: center;
  padding: 0 25%;
  padding-top:50px;
  padding-bottom: 100px;

}
.announcement-box{
  width:550px;
  height:400px;
}
.announcement-box > h1{
  font-size: 45px;
  color:#3f4461;

}
.announcement-p{
    margin-top:25px;
    margin-bottom:25px;

}

.p-spacing{
  word-spacing: 5px;
}

.txt-md{
  font-size:17px;
}
.txt-sm{

  font-size:12px;
}
.txt-lg{

  font-size:25px;
}
.txt-xl{

  font-size:35px;
}


.divider{
  background: #00ba92;
  height:75px;
  border-top: 2px solid #3f4461;
  border-bottom: 2px solid #3f4461;
}

main{
}

.clearfix{
  clear:both;
}

.products{
  background-color: #f0f4ff;
  padding: 50px 25%;
}

.products-title{
  display:block;
  margin: 0 auto;
  width:60%;
  margin-bottom:30px;
  text-align:center;
  color: #3f4461;
}
.products-title > h2{
  margin-bottom: 30px;
}
.products-logo{
  height:250px;
  margin-bottom:10px;
}

.col-full{
  width:100%;
}

.col-2{
  width:20%;
}
.col-3{
  width:30%;
}
.col-7{
  width:70%;
}
.col-5{
  width:50%;
}

.left{
  float:left;
}

.right{
  float:right;
}

.full-products{
  background-color: white;
  height:300px;
  border: 2px solid #e6ecff;
  border-radius:5px;
  margin-bottom:50px;
}

.center{
  text-align: center;
  margin: auto;
}

.nospace{
  font-size: 0;
}

.products-item{
    background-color: white;
    height:600px;
    border: 2px solid #e6ecff;
    border-radius:5px;
    display: inline-block;
    margin:0 auto;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}
.first-products-logo{
  text-align:center;
}

img.products-logo{
  width:170px;
  height:170px;
}

img.products-logo-title{
  width:270px;
}
div.products-text {

}

.products-text{
  display: inline-block;
  vertical-align: middle;
  line-height: normal;
  width:100%;
}
.product-control{
  line-height: 300px;
}

.community{
  background: linear-gradient(90deg, rgba(30, 189, 163,1) 0%, rgba(0,218,186,1) 100%);
}
.box-community{
  color:#fff;
  text-align:center;
  padding: 50px 25%;
}

.community-title{
  padding-bottom: 50px;
}
.community-title > h2{
  margin-bottom:20px;
}

.community-item{
    height:200px;
    display: inline-block;
    margin:0 auto;
    color: #3f4461;
    font-size:24px;

}

.bd-top{
  border-top: 1px solid white;
}
.bd-bottom{
  border-bottom: 1px solid white;
}
.bd-left{
  border-left: 1px solid white;
}
.bd-right{
  border-right: 1px solid white;
}

.customers{
  padding: 50px 25%;
}

.full-costumers{
  background-color: white;
  height:300px;
  border: 2px solid #e6ecff;
  border-radius:5px;
  display: inline-block;
  margin-bottom:50px;
}

.costumers-item{
  height: 100%;
}

footer{
  padding: 50px 25%;
  background-color:#2c4c78;
  color:#fff;
}

.footer-item{
    height:300px;
    border: 2px solid #e6ecff;
    border-radius:5px;
    display: inline-block;
    margin:0 2%;
  }

  nav.footer-navbar{
    margin: 30px 0;
    text-align:center
  }

.footer-navbar > li{
    display:inline-block;
  }

  .full-footer{
    height:50px;
    border: 2px solid #e6ecff;
    border-radius:5px;
    display: inline-block;
    margin-bottom:50px;
  }

  .footer-item-bottom{
    height:100%;
      display: inline-block;
      margin:0 auto;
      color: #3f4461;
      font-size:24px;

  }

hr.white{
  color: white;
  margin: 30px 0;
}

  .txt-r{
    text-align:right;
  }
